.button {
    background-color: #0095f6;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
    width: 100%;
    transition: 0.3s ease;
}

.button:hover {
    background-color: #31adff;
}