.team {
    text-align: center;
    padding: 32px;
}

.team h3 {
    font-size: 32px;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.team .workers {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}